@import "general";
@import "variables";
@import "media-queries";

// header

.container {
  max-width: 110rem;
  margin: auto;

  @include oppo {
    padding: 0 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;

    @include oppo {
      flex-direction: column;
    }

    h2 {
      display: flex;
      align-items: center;
      font-size: 3rem;
      font-weight: 600;
      padding: 2rem;
      padding-left: 0;
      color: var(--dark);

      @include oppo {
        font-size: 2.5rem;
        margin: auto;
        padding: 2rem 0 0.2rem 0;
      }
    }

    ul {
      display: flex;
      align-items: center;

      @include oppo {
        flex-direction: column;
      }

      li {
        text-align: center;

        @include oppo {
          min-width: 100%;
          padding: 0.2rem;
        }

        a {
          display: flex;
          align-items: center;
          font-size: 1.6rem;
          padding: 1rem;
          color: var(--gray-hint);
          font-weight: 500;

          @include oppo {
            border-bottom: 1px solid var(--gray);
            display: flex;
            justify-content: center;
          }

          &:hover {
            opacity: 0.75;
          }
        }

        .primary {
          color: var(--primary);
        }

        .inscription {
          border: 1px solid var(--primary);
          border-radius: 1rem;
          color: var(--primary);

          @include oppo {
            display: none;
          }

          &:hover {
            color: var(--white);
            background: var(--primary);
            transition-duration: 0.25s;
            opacity: 1;
          }
        }
      }
    }
  }
}

// nav

nav {
  position: sticky;
  top: 0rem;
  background: var(--white);
  z-index: 1;

  @include oppo {
    overflow: hidden;
  }

  ul {
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;

    @include oppo {
      justify-content: space-between;
    }

    li {
      a {
        font-size: 1.3rem;

        @include oppo {
          padding: 0 1rem;
        }

        &:hover {
          opacity: 0.75;
          transition-duration: 0.25s;
        }
      }
    }
  }
}

// article

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @include oppo {
    grid-template-columns: auto;
  }

  @include oppo {
    .block-5 {
      display: none;
    }
  }
  div {
    display: flex;
    flex-direction: column;

    @include oppo {
      padding: 0;
    }

    img {
      width: 366.66px;
      padding: 2rem 0 2rem 0;

      @include oppo {
        max-width: 340px;
      }
    }
  }

  .block-center {
    padding-top: 2rem;

    @include oppo {
      padding: 0;
    }

    .block-title {
      display: grid;
      grid-template-columns: auto auto;

      @include oppo {
        padding-top: 2rem;
      }

      img {
        padding-top: 0;
        width: 8rem;
      }

      h4 {
        margin-top: 1rem;
        margin-left: 1rem;
        font-weight: 400;
      }
    }
  }
}

// separator

hr {
  margin: 2rem 0;
  border: 0;
  border-bottom: 1px solid var(--gray);
}

// main

main {
  height: 25vh;
  background: var(--gray);
  display: flex;

  @include oppo {
    img {
      display: none;
    }
  }

  div {
    flex: 1;

    @include oppo {
      display: none;
    }
  }

  .text-contact {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include oppo {
      margin-left: 1rem;
    }

    h1 {
      font-size: 3.5rem;
      color: var(--dark);

      @include oppo {
        font-size: 1.8rem;
      }
    }

    p {
      font-size: 1.6rem;
      color: var(--gray-hint);
      margin: 2rem 0;

      @include oppo {
        font-size: 1.6rem;
      }
    }

    input {
      border: 0;
      border-bottom: 1px solid var(--dark);
      background: var(--gray);
      line-height: 3rem;
      outline: none;
    }

    ::placeholder {
      color: var(--dark);
    }

    button {
      margin-left: 2rem;
      padding: 1rem 2rem;
      border-radius: 3rem;
      background: var(--dark);
      border: 1px solid var(--dark);
      color: var(--white);

      &:hover {
        background: var(--white);
        color: var(--dark);
      }
    }
  }
}

// tech-mode

section {
  display: flex;

  .tech-mode {
    max-width: 800px;

    h3 {
      font-size: 2.5rem;
      color: var(--dark);
      font-weight: 500;
      padding: 2rem 0 1rem 0;
      border-bottom: 1px solid var(--gray);
    }

    .all {
      display: flex;

      img {
        width: 80px;
        height: 80px;
        margin-top: 2rem;
      }
    }

    .text-all {
      margin-right: 2rem;

      h4 {
        margin-top: 2rem;
        padding: 0;

        @include oppo {
          padding-bottom: 1rem;
        }
      }

      .text-gray {
        color: var(--secondary);
        padding-bottom: 0;
      }

      .text-date {
        font-size: 1rem;
      }
    }
  }

  .populaires {
    position: sticky;
    top: 74px;
    margin-left: 2rem;

    @include oppo {
      display: none;
    }

    h3 {
      font-size: 2.5rem;
      color: var(--dark);
      font-weight: 500;
      padding: 2rem 0 1rem 0;
      border-bottom: 1px solid var(--gray);
      margin-bottom: 2rem;
    }

    .pop-all {
      display: flex;
      margin-bottom: 2rem;

      strong {
        flex: 1;
        text-align: center;
        font-size: 3rem;
        color: var(--gray-hint);
        padding: 1rem;
      }

      .pop-text {
        flex: 4;

        h4 {
          padding-bottom: 0;
        }
      }
    }
  }
}
